Source: decoders-support
Section: user/multimedia
Priority: optional
Maintainer: Tomasz Dominikowski <dominikowski@gmail.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1


Package: decoders-support
Section: user/multimedia
Architecture: any
Depends: gstreamer0.10-ffmpeg, gstreamer0.10-flv, gstreamer0.10-musepack, gstreamer0.10-rm (>= 0.10.10.2-1maemo2-5), gstreamer0.10-plugins-good-extra, gstreamer0.10-plugins-bad, tracker-distutils, ogg-support
Replaces: ac3-support
XB-Description: Support for additional video and audio decoders in the Media Player
 .
 Uses GStreamer decoders and tracker mimetype registering tool
 * AC-3 audio in video files support
 * Vorbis OGG and FLAC support (via ogg-support)
 * Musepack support
 * Flash video support
 * RealMedia formats support
 * Matroska container support (most video formats used for Matroska unsupported!)
 * MPEG2 Transport Stream support
 .
 Video resolution over 848x480 pixels is still unsupported!
XB-Description-pl_PL: Obsługa dodatkowych dekoderów dźwięku i wideo dla wbudowanego Odtwarzacza
 .
 Używa dekoderów GStreamer i narzędzia rejestrującego typy mime tracker
 * Obsługa dźwięu AC-3 w nagraniach wideo
 * Obsługa formatów Vorbis OGG and FLAC (poprzez ogg-support)
 * Obsługa formatu Musepack
 * Obsługa formatu Flash Video
 * Obsługa formatów RealMedia
 * Obsługa kontenera Matroska (większość formatów używanych z Matroska nieobsługiwane!)
 * Obsługa formatu MPEG2 Transport Stream
 .
 Obsługa rodzielczości powyżej 848x480 pikseli jest nadal nieobsługiwana!
XB-Maemo-Display-Name: Extra Decoders Support
XB-Maemo-Display-Name-pl_PL: Obsługa dodatkowych dekoderów
XB-Maemo-Upgrade-Description: Added RealMedia, Vorbis OGG, FLAC, MusePack support and File Manager playback
XB-Maemo-Upgrade-Description-pl_PL: Dodana obsługa formatów RealMedia, Vorbis OGG, FLAC, MusePack
XSBC-Bugtracker: http://code.google.com/p/extra-decoders-support-for-n900/issues/entry
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAdhwAAHYcBj+XxZQAAAAd0
 SU1FB9oBBQECC9HpnVYAAA8WSURBVGje1ZpplF1Vlcd/+9x731xzqkJGkhCZ
 khAkYssUQpBJQIkuYvOhURuERS8XS7HttgeVbmhdvezVobHTNGEJ4oAiSxRQ
 wLQaRJQERAKJCZCJVKhKqpIaXr16wx3O2f3h3UriQCbwg++t++4990z7v6ez
 9zlPVJU/54/hz/zjH0snEREA/ROLL53HAO7N5jomCaSDFUTE/1OR3rzwQN2h
 GCVHy8SU6CLwPnx2I5SDABPHuIkmgMHHJ8ZLpRzgeQFYHyWA9Dr4GQLUZA6U
 XYCYEs79HMtaVe1/SwBExKiqk4yc6QlzraWOCdrAZpsTej7GBKg2CTAmwDkf
 1eZzk7BmGRNgaLbVFKBIs40Q4PBBg6a4kyGDHXQxN6vqPhGRgyVy9CoQY20u
 dwV+YS4ioMbiB0ISCqjfFEDzB4OAygHJaHoXQRAUmnflwDsFkWZbIwYbWmx1
 D5B5W4y4GOCqZDo5flknLTPWMbZ9Cvs2tjFn8SCZUoUk9H7HtEwKJjX836kT
 FZyAmahL26kI4hwSFOl9sic7sjaoB5P07fFCGUDFkOvopdCxhVfW7GCsuorx
 3Tdy8l9OpXveCEk9QBDEGJw2bULEIDTLkpabzx6ooMZAWof6GC8m376D3p8s
 FXlzZ3PUAAJFwDhEimy6f24wtuv5eOoNMrn/kacG+n7xz3Se3EtcDRAjiBgU
 gyJ/CACDSpNoxaSqZtI+Hp6XEEQjoKgiyNsEIEo9Kdt/NDsY3bQxNt5fZAZW
 XTrQcrzjhMsHSGoO8S2IQVURtKk+AqhixKDpd8IKEGWCy6oOURBjD1ItedtW
 4loNqI+05CqbPh2b7AuB2J7IK81i3sca5LuraOyDHKwOAuLt5zBqUss4UCdq
 UG3CAQ/Ea5bFpKuCgdpbBjDR9lTPcF890W/iPv1wbEubmXPFIKUZw8TjWcST
 /cSrmv3qoSoHOKnNNg4DnmIygvGyqC0iUgTyCB6Ch6arce0tSCD1vYmIdII/
 z9rsXincNK3I3Rcz7V0nM/PSrYT7CpgAdILzTghKjkyLB6Ip91M9T43bzynR
 UJZqXytJpUCmZHCu6WabtnZYOv0jJF5FZBJ4d4DGSPTRbPS/11Unvztg7vuH
 qO/LIH5zUlUPMUqmU9j5xBSGXmlw4tWQ66xiw6Zxu0TItsLgb6Yx+MYC8nMg
 2hzRkt/JtPOHiatNV6yq4HBgKBTkLamQ53EpeI+CDvhGJ4cdC2Zw2vXbccSp
 TguaCNmWBupybP56F8Obn8R4X2HHE1XAQ7wIVMl3OPa9PIOR6jwKc38C5gE6
 LgwpR3MZfS2Hl3VoGpkYSVXtGFQoDR/U9+V6Ebarht/NcNY3Eoo+0y+OMZKA
 y2A8C4QUe2qUt/Ww6ZteaffT36Pt9Id070uPeQO/fpTythaCLGRKAXuePY7d
 /fNQ/4n8jrtXd/Xd+WNGnltB6xnCcO9kjGlgpEm2O2gxPBoAIuKpqhORJdYG
 i5MkMyLykZkRGz6Ib7pBGzjXhTAT43eRbevg1Ydm8dKq7cHQhtXjZCYFOx/4
 B5HMfwbGnsjoVo98d5ZoWHlj5wJaTvqB6fvh+jpdxSF7fGuh/1vrwD6NmXwc
 4YjFz0bHnNCkxFsRORu8m8FWIPoSfOd2Y8byiGxDbRZxjmx7DVvr5rf3BdjG
 i5zzr3cJ7ue4ZG7s5D0gYwV32Zfo+/VKtj88iS1Pn8Oksx5i6KlHwUzGaAwx
 lqxQ2/kjIh+qe4t42TrOHT2A1GitiEwH3g/eA+DywBkQbcjneRChHfETipMj
 Rn7bxctf39Uz/Mt7OeWalSy5eVPEVA+kjHbcAuFtw5SyGu55kFfWbCV/ao2L
 /+YfGetd4Kj04YZex8X1hGKO4fUbyGWHKe+ehmh41BnZQR6nAHwQWAHhPpjW
 Av2Jqn45n5eliCRgS6y/ewq9z/0qa8ubBk3ujOxPP/7ecPVNw2AiOP4r8NVe
 uKAbZlRycvqJLPqnpZx57Z3cv7QAYafvN/pUqVs7NmJpbwlqrwzFdvEmpLgQ
 0RhjoLmQHLEE0rL3ATBFmA8sPR3G68AnARIAFxfZ9vAY4v2Md91yB8hOXOOd
 oZOzIdNH540r4Kw9cHsbHSfWj+PZQjj7ogeZd8E4t7XdR71yKq5MkuCsxQM7
 DjTy1BVhI+WhFsb7sng5m2Zmh5fAAb33rwN5H+gw/PZuCIYh+pyq1gCSyJwq
 LtqmpfaVnP/Zl/Xe8/aKrJgD5V605/PQv57hC9qbo3bHZ42sip6d/LH7WbSs
 hzPm38Ez1PArs41acS4NHkgsPtU4CQxhZSteDkwWNJnIIQ4NIHWXNpuV08CU
 wPwE3JXAlCCIvhhF2iciRfCWQq5dMWvM0MvvNfctvkTuy9VAanDerXB5Bc7o
 gB4Lrd53oby866oVLFp2PuecfS/DjVEaOcVF0wUcmOYNIKnVwDfoeD+egXDM
 I98dNkOTQwDYnyqKnAKcBYtXwgdKcOssY8o/jSJ9TkROAi4A75fQuhYGlzth
 sUM81P8y3Ps43J+DH+Whx1LMBlr97qDkF3+S067/OEuv/CojNkslN4c1X8lA
 1K2OGrgD0WZgG3HsZ0jqQ5gg5PU176RemUo86hKLw3sTG1BVt3y5eOD9PXh7
 YUkB7r4QGnuc4w4Rfxnkr4LMM6rhBtg9DMUq6r2ILrgGXvwh3NFCKQ4gL1Dw
 GX9kUDhlGQuuuo33XvsDIldhRD5InTybVwa4pF08QiBOAzwhjhNBlPqecSQY
 Y98rrZnNKydRflWjhPjNolFfRAIwtzXXPLsMbr8WzEvZbPStMPRvhUwb2G0Q
 /ZVIMA7GgD8IN3yO1kjQz7dQuWic8SXRDXxbprJKVshxS8sLPn4XF9/4CwwD
 DMjljOgUutlJmGmFfMlZOQ3COrjeJojYxeQdphKTSNK6qFw2/WyOdnsnIoe2
 gYuB18FaEc5VTXp9n9VhyAcgWQXFDDQ+JsIlqnYQSv8GI88uYpVeMXaj9yTF
 tm20nrrPe/Adq9pnnE7bRxbQNmsBS67fSGtxB4N6Hlbm0qlKhiGy7QVqlSGl
 YwvsWQy1PcAzE1tO1Mdj8nF97LVCPh/XZqI2QHDNROSPAzgTFt8O3VNVv38O
 2MlJkp8Pta+p6l6R5Xl4pKHqnoQrvww3V+GMSS8UzdUvdH/4HEqTZ9E2bRJt
 MwO6Zkd0zmrQ1b2agAbDehpOusmwC6FEiVEotqKmH274InzpN+BdHwT2F3EM
 AaIxgNiEasvMug0zeDKK++M7EhMAHoPnboW2XUAViusgLgK3iOT2gE6CzAZ4
 8RG4pWUuD+vWgr6P91x7Cydfvpr2KesoFpQMeRIKRGSxLqEmp6FSJMMewKHU
 gQammAXPwuMLYfarsNGLY3qArXG6ZYALM3huoyf219ZRSD3pH40rfFV9QUTq
 UPs3yN0EdiqEHwXOB7ceJn8RvrEF/rqVUl7uGd9gL+iaOYfZ8x/gPSf8mNfc
 R6jaDirkEQLEJBijeDhgmKYjV0hDg0y7gHZA/Z3QsrG5atMK2ACII2Ox9RKm
 +F9JbfAOEckCNr3+YD/WTxewTSLy7xBfABc+AWsyYO6C278Kew18vgUKlnHj
 /ZwlED8dUqvk6Wc+6AkYr0xAiNJAmhMhlNO7phJwGAK8DDgFtBtsKWWshWzT
 VINcgIsyuChJabSqmrxpKJEGbr6qrgXNws+uBfd/4D0Lkyw8k4eCnejQzxVC
 NFYmqbSQBTxG8akDIR4RBoug6XPznRBhiBHytHQJxjVTTqozUsYPQejHxEoQ
 ZIjrWcLRlNOL5LDRaJrvCrh7r746WQH2YagthM90wOwGJOkgVh5nu095sI/y
 UBcGk4rWYXCAw1klDj0Eu/+dpGoUUSI7QxE1IA6GzjdGB4ERIAjIKNa1o66C
 b55qzvmCPaJwOtUt+9BDqKqGwA9g34dgewxWIGMo+uaNtjW5Fjv+BsM72nHk
 CSNHIwyo1n1q9YDxWoahcp448ggjj0boE4Y+9dCnQRft0wXwhYEFMDhThNVA
 liBoMikbdCFRppQZ37vftR5pOJ2C0NQu9onIODy7DPQ7cOEUqs5SGMn3kHuj
 sntLzMBwD6OJEoUtTe6r4KxhZCwHzuF5Kf+dYl0Ooim0TdmCP96jdkgx+pi1
 3ihYnxiJiZXYdaPj+e5W5JgzstQujKp+DZgC+XPgQ2VwAW4w2MaHyvSv38TL
 jy3E66nSV+2gr9rGG2Od9I93MFDpYaDRwdB4lt0DRQaGWhjYW2RP/0w65/n4
 +b5soK/iTAVs4Ps4gnwmIFAIT8HaddsHdEDkX8zhToEOta0y0fE+aFwDd70G
 cyyNMQ+qpbyz36//6s7388rak6k28s2tHwEjAUKFoeIUpl9mYUov40MCGqDu
 BLpObaM4o2ziXSUMHg5NEhQ0E5OPUXsSEg43p37KwBfcMQFIMzNR1WEReRQ2
 LYOzv50lzoe8nq/nL9mVHXn873Rk/VkORgQi8KwgAxJEnRmPcyu9j1zFlOUL
 KS3ex95qTFyZTuuOuRx35ggjvyqxPx9AmgmAL7j6iUSjn00BHPb05bAnNAeF
 22dCoRuuWQvbu8EouakxdFp0JAddCeG7RvA+cx52eLJq/Z53Hy9znu9lJf7C
 S+m40rK302PqO1azyHvaPHblLIfdDPSCPwwtWYKWblz5zpJXPrcS6saJud/S
 MWtKvKjq81DrgUdmw9QqxB6NnTkaL3USRhHhWgPXfQIZjFTr94iIeb6X11X1
 stbMS5+g8j+D8D1obDid/LsLrjAnbsmRaWapQQfkHDTOxdW3NolHDkf8sexO
 Pw6jl8AugUDAM3D6APzsJHj+emh8U+P4yYM5JyKmXNWVl00fPtkEv1zFyH/0
 sPUb5zD/U4lGFPHauqE4CS/IEJcvQqMVqeyPjDZVPaIL8NL7RZD9FOwpwiVz
 oXAdcBPQ2qy/2vvDvkv8dNVnRhdnkut+kvl/+wy5+ff4TP4szPgwtP43eFuA
 jnQeORK6juqY9aANr+VQnAZ2CBqvquo6ETGp7euhD61vVdUvOJHgQjKdN5ko
 2eeMq6GVa1FvqWr48pHo/jGfE6fE5IALgXXpgucd6jT9953CQbY1BfyFkIwG
 ATaK9PmjIf6tAJjYAJN0DHf0Yyz3YJ6qHvDzv38G/CcDMKFOR8r1I/gvhE5I
 5ajH+HP/u83/A8r5mTfGOXH2AAAAAElFTkSuQmCC
