Package: gstreamer0.10-musepack
Version: 0.10.13-git209-0maemo16+0m5
Section: libs
Priority: extra
Architecture: armel
Depends: libmpcdec3, libc6 (>= 2.5.0-1), libglib2.0-0 (>= 2.20.0), libgstreamer0.10-0 (>= 0.10.23), libmpcdec3, libxml2 (>= 2.6.32)
Replaces: gstreamer0.10-plugins-bad (<< 0.10.5-3)
Installed-Size: 68
Maintainer: Tomasz Dominikowski <dominikowski@gmail.com>
Source: gst-plugins-bad0.10-musepack
Description: Musepack gst plugin from the bad set
 This package provides musepack decoder element.
Xsbc-Original-Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
